body{
	background-color: black;
	
}
video{
	position: absolute;
	width: 80%;
	height: 70;
	border-radius: 30px;
    margin-left: 150px;
}
.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.button{
	position: relative;
	text-align:center;
	width: 250px;
	padding: 20px;
	font-size: 29px;
	font-family:DS-Digital;
	color: white;
	margin-top: 680px;
	margin-left: 560px;
	font-weight: 200;
	border: 5px solid white;
    letter-spacing: 15px;
	cursor: pointer;
	border-radius: 90px;
	transition: 1.5s;
	opacity: 35%
}

.button:hover {
	box-shadow: 0 5px 15px 0 white inset, 0 5px 45px 0 white;
	background-image: url("game2.gif");	
    text-shadow: 0 0 3px black, 0 0 3px black;
    opacity: 90%;
	transition: 0.5s;
	
}
H1{
	font-family:Endestry;
	font-size: 40px;
	text-align: center;
	margin-top: 20px;
	color: white;
}